body {
    background: url('../img/sfondo_quiz.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

header {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 15px;
}

h2 {
    color: #FFD700;
}

.form-group label {
    color: #FFD700;
}

.btn-primary, .btn-success, .btn-danger {
    font-size: 1.2em;
    font-weight: bold;
}

tbody tr {
	cursor: pointer;
}





